django
psycopg2
django-cors-headers
psycopg2-binary


wyge==1.0.4
pydub
streamlit
moviepy
pypandoc
opencv-python-headless
opencv-python
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
nltk
tweepy
beautifulsoup4
youtube-transcript-api

pymysql


wyge==1.0.4
pydub
streamlit
moviepy
pypandoc
opencv-python-headless
opencv-python
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
nltk
tweepy
beautifulsoup4
youtube-transcript-api



wyge==1.0.4
streamlit
pandas
openpyxl


